.footer{
    background-color: $blue;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    color: white;
    text-align: center;
    position: relative;

    .p{
        margin: auto;
    }
}

.py-4{
    min-height: calc(100vh - 14vh);
}