.footer{
    background-color: $blue;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    color: white;
    text-align: center;
    position:relative;
    bottom:0;

    .p{
        margin: auto;
    }
}