
// Body
$body-bg: #F5F5F5;

// Typography


// Colors
$orange: #FF9C0D;
$blue: #28A8FF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
