
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Nav
@import 'navbar';

//Notification
@import 'notification';

//Account
@import 'account';

//Sidebar
@import 'accountssidebar';

//Add Products
@import 'addproducts';

//Product Page
@import 'productpage.scss';

//
@import 'productcategories';

//Footer
@import 'footer';

//Home Category Section
@import 'homecategorysection';

//Home Featured Section
@import 'homefeaturedsection';
//Common
html{
    background-color: $body-bg;
}

a{
    color: inherit;
}

.subtitle{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;

}

hr{
    margin-top: -19px;
    margin-left: 10px;
    width: 95%;
}
