@import url(https://fonts.googleapis.com/css?family=Nunito);.upper {
  width: 100%;
  margin: 0;
  color: white;
  font-size: 12px;
}

.upper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /* Default */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF9C0D;
}

.upper ul li {
  float: left;
}

.upper ul :first-child {
  padding-left: 70px;
}

.upper ul :last-child {
  padding-right: 70px;
}

.navbar {
  background-color: #28A8FF;
}

.navbar .navbar-end .navbar-item {
  height: 50px;
}

.navbar .navbar-end .navbar-item input {
  height: 36px;
}

.navbar .navbar-end .navbar-item input {
  width: 400px;
  padding: 10px;
}

.navbar .navbar-end .navbar-item input ::-webkit-input-placeholder {
  color: #A5A5A5;
  padding-left: 10px;
}

.navbar .navbar-end .navbar-item input ::-ms-input-placeholder {
  color: #A5A5A5;
  padding-left: 10px;
}

.navbar .navbar-end .navbar-item input ::placeholder {
  color: #A5A5A5;
  padding-left: 10px;
}

.navbar .navbar-end .navbar-item button {
  color: white;
  border-radius: 0;
  background-color: #28A8FF;
  border: 0.5px #707070 solid;
  border-left: 0;
  margin-left: -5px;
}

/* -----------------------------------------
     Dropdown
  ----------------------------------------- */

.fa-bell-o {
  color: white;
}

.dropdown-content {
  position: relative;
  left: -162px;
  width: 208px;
}

/* -----------------------------------------
     Badge
  ----------------------------------------- */

.badge {
  padding: 3px 5px 2px;
  position: absolute;
  top: 8px;
  right: 5px;
  display: inline-block;
  min-width: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
}

.badge-danger {
  background-color: #db5565;
}

.presentation {
  background-color: white;
}

.timeline {
  list-style: none;
  padding-left: 0;
  position: relative;
  background-color: white;
}

.timeline:after {
  content: "";
  height: auto;
  width: 1px;
  background: #e3e3e3;
  position: absolute;
  top: 5px;
  left: 30px;
  bottom: 25px;
}

.timeline.timeline-sm:after {
  left: 12px;
}

.timeline li {
  position: relative;
  padding-left: 70px;
  margin-bottom: 20px;
}

.timeline li:after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e3e3e3;
  position: absolute;
  left: 24px;
  top: 5px;
}

.timeline li .timeline-date {
  display: inline-block;
  width: 100%;
  color: #a6a6a6;
  font-style: italic;
  font-size: 13px;
}

.timeline.timeline-icons li {
  padding-top: 7px;
}

.timeline.timeline-icons li:after {
  width: 32px;
  height: 32px;
  background: #fff;
  border: 1px solid #e3e3e3;
  left: 14px;
  top: 0;
  z-index: 11;
}

.timeline.timeline-icons li .timeline-icon {
  position: absolute;
  left: 23.5px;
  top: 7px;
  z-index: 12;
}

.timeline.timeline-icons li .timeline-icon [class*=glyphicon] {
  top: -1px !important;
}

.timeline.timeline-icons.timeline-sm li {
  padding-left: 40px;
  margin-bottom: 10px;
}

.timeline.timeline-icons.timeline-sm li:after {
  left: -5px;
}

.timeline.timeline-icons.timeline-sm li .timeline-icon {
  left: 4.5px;
}

.timeline.timeline-advanced li {
  padding-top: 0;
}

.timeline.timeline-advanced li:after {
  background: #fff;
  border: 1px solid #29b6d8;
}

.timeline.timeline-advanced li:before {
  content: "";
  width: 52px;
  height: 52px;
  border: 10px solid #fff;
  position: absolute;
  left: 4px;
  top: -10px;
  border-radius: 50%;
  z-index: 12;
}

.timeline.timeline-advanced li .timeline-icon {
  color: #29b6d8;
}

.timeline.timeline-advanced li .timeline-date {
  width: 75px;
  position: absolute;
  right: 5px;
  top: 3px;
  text-align: right;
}

.timeline.timeline-advanced li .timeline-title {
  font-size: 17px;
  margin-bottom: 0;
  padding-top: 5px;
  font-weight: bold;
}

.timeline.timeline-advanced li .timeline-subtitle {
  display: inline-block;
  width: 100%;
  color: #a6a6a6;
}

.timeline.timeline-advanced li .timeline-content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 70px;
}

.timeline.timeline-advanced li .timeline-content p {
  margin-bottom: 3px;
}

.timeline.timeline-advanced li .timeline-content .divider-dashed {
  padding-top: 0px;
  margin-bottom: 7px;
  width: 200px;
}

.timeline.timeline-advanced li .timeline-user {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.timeline.timeline-advanced li .timeline-user:before,
.timeline.timeline-advanced li .timeline-user:after {
  content: " ";
  display: table;
}

.timeline.timeline-advanced li .timeline-user:after {
  clear: both;
}

.timeline.timeline-advanced li .timeline-user .timeline-avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 10px;
}

.timeline.timeline-advanced li .timeline-user .timeline-user-name {
  font-weight: bold;
  margin-bottom: 0;
}

.timeline.timeline-advanced li .timeline-user .timeline-user-subtitle {
  color: #a6a6a6;
  margin-top: -4px;
  margin-bottom: 0;
}

.timeline.timeline-advanced li .timeline-link {
  margin-left: 5px;
  display: inline-block;
}

.timeline-load-more-btn {
  margin-left: 70px;
}

.timeline-load-more-btn i {
  margin-right: 5px;
}

.account-content {
  background-color: white;
  padding: 10px;
}

.menu {
  background-color: white;
  margin-left: 10px;
  padding: 10px;
}

.menu-list a.is-active {
  background-color: #FF9C0D;
}

.add-products label {
  margin-top: 20px;
}

.add-products .button {
  width: 100%;
  background-color: #FF9C0D;
  color: white;
  margin-top: 10px;
}

.add-products .select {
  width: 100%;
  margin-top: 10px;
}

.add-products .select select {
  width: 100%;
}

.product {
  margin: 30px;
  background-color: white;
  padding: 10px;
}

.product .product-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 6px;
}

.product p {
  margin-left: 10px;
}

.product .product-price {
  font-size: 25px;
  color: #FF9C0D;
  margin-bottom: 10px;
}

.product .bids-title {
  padding-top: 10px;
  font-weight: bold;
}

.product .button {
  color: white;
  background-color: #28A8FF;
  width: 100%;
  border-radius: 0;
  margin: 10px 10px 0 0;
}

.product .product-timer {
  margin: 20px 0;
}

.product .product-timer span {
  background-color: #FF9C0D;
  color: white;
  font-size: 40px;
  padding: 15px;
  margin: 10px 0;
}

.product-categories .tile {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  margin: 0 20px;
}

.footer {
  background-color: #28A8FF;
  height: 50px;
  width: 100%;
  padding: 10px 0;
  color: white;
  text-align: center;
  position: relative;
}

.footer .p {
  margin: auto;
}

.py-4 {
  min-height: calc(100vh - 14vh);
}

.home-category-section {
  margin-top: 20px;
}

.home-category-section img {
  height: 225px;
}

.home-category-section .first {
  margin-left: 10px;
}

.home-category-section .third-bottom {
  margin-right: 10px;
}

.featured-section,
.new-section {
  margin-bottom: 10px;
}

.featured-section .product-card,
.new-section .product-card {
  margin: 0 10px;
  position: relative;
}

.featured-section .product-card .price,
.new-section .product-card .price {
  color: #28A8FF;
  font-size: 20px;
}

.featured-section .product-card .name,
.new-section .product-card .name {
  font-size: 14px;
}

.featured-section .product-card .card-timer,
.new-section .product-card .card-timer {
  position: absolute;
  top: 5px;
  right: 5px;
}

.featured-section .product-card .card-timer span,
.new-section .product-card .card-timer span {
  background-color: #FF9C0D;
  color: white;
  padding: 2px;
  font-size: 12px;
}

html {
  background-color: #F5F5F5;
}

a {
  color: inherit;
}

.subtitle {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
}

hr {
  margin-top: -19px;
  margin-left: 10px;
  width: 95%;
}

