@import url(https://fonts.googleapis.com/css?family=Nunito);.upper {
  width: 100%;
  margin: 0;
  color: white;
  font-size: 12px;
}

.upper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /* Default */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF9C0D;
}

.upper ul li {
  float: left;
}

.upper ul :first-child {
  padding-left: 70px;
}

.upper ul :last-child {
  padding-right: 70px;
}

.navbar {
  background-color: #28A8FF;
}

.navbar .navbar-end .navbar-item {
  height: 50px;
}

.navbar .navbar-end .navbar-item input,
.navbar .navbar-end .navbar-item button {
  height: 100%;
}

.navbar .navbar-end .navbar-item input {
  width: 400px;
  padding: 10px;
}

.navbar .navbar-end .navbar-item input ::-webkit-input-placeholder {
  color: #A5A5A5;
  padding-left: 10px;
}

.navbar .navbar-end .navbar-item input ::-ms-input-placeholder {
  color: #A5A5A5;
  padding-left: 10px;
}

.navbar .navbar-end .navbar-item input ::placeholder {
  color: #A5A5A5;
  padding-left: 10px;
}

.navbar .navbar-end .navbar-item button {
  color: white;
  border-radius: 0;
  background-color: #28A8FF;
  border: 0.5px #707070 solid;
  border-left: 0;
}

.account-content {
  background-color: white;
  padding: 10px;
}

.menu {
  background-color: white;
  margin-left: 10px;
  padding: 10px;
}

.menu-list a.is-active {
  background-color: #FF9C0D;
}

.add-products label {
  margin-top: 20px;
}

.add-products .button {
  width: 100%;
  background-color: #FF9C0D;
  color: white;
  margin-top: 10px;
}

.add-products .select {
  width: 100%;
  margin-top: 10px;
}

.add-products .select select {
  width: 100%;
}

.footer {
  background-color: #28A8FF;
  height: 50px;
  width: 100%;
  padding: 10px 0;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
}

.footer .p {
  margin: auto;
}

html {
  background-color: #F5F5F5;
}

a {
  color: inherit;
}

.subtitle {
  padding-top: 10px;
  padding-left: 10px;
}

hr {
  margin-top: -19px;
  margin-left: 10px;
  width: 95%;
}

